<article class="speakerslist">
	<section class="layout">
		<div class="speakers">
			<% artists.forEach(function(item) { %>
			<article class="artist group">
				<h3><%= item.title %>&nbsp;
					<span class="small">
						with <a href="/speakers/<%= item.shortname %>"><%= item.name %></a>
					</span>
				</h3>
				<p>
					<a href="/speakers/<%= item.shortname %>">
						<img src="/images/speakers/<%= item.shortname %>_tn.jpg" alt="Photo of <%= item.name %>" class="speaker">
					</a>
					<% if(page != 'home') { %>
						<% if(page === 'artistList') { %>
							<%- item.summary %>
						<% } else { %>
							<%- item.description %>
						<% } %>
					<% } %>
				</p>
			</article>
			<% }); %>
		</div>
	</section>
</article>